* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.ans {
	font-weight: 600;
	width: 30%;
	color: #9b9b9b;
	border-top: none !important;
}
.box-box {
	width:90%;
}

.bsave {
	background: #4abde2;
	color: white;
	padding:5px;
	border-radius:20px;
	width: 100px;
}

.bsave:hover {
	background: white;
	color: #4abde2;
}

}
h2 {
	font-weight: 600;
	font-family: 'Playfair Display', serif;
}

h3 {
	font-size: 1.3em;
	font-weight: 500;
	color:#9b9b9b;
	text-align: center;
}

h4 {
	font-weight: 600;
}

.hamb {
	display: none;
}

.final-in {
	margin-bottom: 30px;
}

.thumbnail {
	border: 2px solid #4abde2;
	border-radius:20px;
	height: 40px;
}

.thumbnail:hover {
	background: #4abde2;	
}

.thumbnail .textos:hover {
	background: #4abde2;
	color:white;	
}

.thumbnail img, {
	margin-left: 0px;
}

.infos-in {
	display: flex;
	justify-content: center;
	width:100%;
	margin: auto;
	padding: 7px;
}

.input-group {
	width:70%;
}

.login {
	color:grey;
	margin-top: 5px;
}

@media (max-width: 400px) {
	.login {
		display: none;
	}

	.hamb {
		display: block;
	}

	.bsave {
		width:90%;
		margin: auto;
	}

	.infos {
		margin: 10px 0px;
	}

}

nav {
 	margin-top: 10px;
 }

 .navin {
 	display: flex;
 	justify-content: space-between;
 	padding-bottom: 10px;
 }
.navsec {
	margin-top: 20px;
	border-bottom: 1px solid #e9e7e7;
	border-top: 1px solid #e9e7e7;
}

.nav li a {
	color: #9b9b9b;
}

.nav li a:hover {
	background: none;
	border-radius: 0px;
	border-bottom: 3px solid black;
	color:black;
	padding-top: 0px;
}

.other {
	margin-right: 5px;
}


.questions {
	width:50%;
	padding-bottom: 20px;
}

@media (max-width:400px) {
	.questions {
		width: 80%;
		margin: auto;
	}
	.question3, .question4, .question5 {
		width: 80%;
		margin: auto;
	}
	.input-group {
		width:90%;
	}
	.table {
		width: 80%;
		margin: auto;
	}
}

.just-text {
	border: 0px;
	border-bottom: 1px solid #e9e7e7;
	width:50%;
}

 .question2, .question3, .question4, .question5 {
	padding-bottom: 30px;
	border-bottom: 1px solid #e9e7e7;
	margin-top: 30px;
}

.question3 {
	border-bottom: 0px;
}

.question5 {
	border: 2px solid #e9e7e7;
	height: 180px;
}

.questform {
	background: #f9f9f9;
	width:100%;
	height:350px;
	vertical-align: middle;
	padding: 50px 80px;
}

@media (max-width:400px) {
	.questform {
		padding: 0px 5px;
		height:550px;
	}

	.table tbody tr td {
		display: block;
	}
	.question5 {
		height: 315px;
	}
}

.radio {
	margin: 20px 0px;
}

.radiohead {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0px;
}

.radiofoot {
	margin-top: 10px;
}

.subititle {
	margin-top: 35px;
	color: #9b9b9b;
}

.subititle2 {
	margin-top: 5px;
	color: #9b9b9b;
}

.table tbody tr td {
	border-top:0px !important;
	border-bottom:0px !important;
	padding: 15px 0px;
	vertical-align: middle;
}

.textos {
	font-size: 1em;
	margin:auto;
	color:#4abde2;
}

